/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
body{
  margin:0;
  padding: 0;
  overflow-y: auto ;
  overflow-x: hidden;
  
}
a{
  cursor: pointer;
}
table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting{
  background-image: none !important;
}
table.dataTable thead th, table.dataTable tfoot th ,table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td{
    font-weight: bold;
    
    padding: 5px 10px!important;
  }
  
 

.container-fluid{
      overflow: auto;
    height: calc(100vh - 76px);
}

.btn , i{
  cursor: pointer;
}
//table style
.dataTables_length{
  display: none  !important;
}
.paginate_button.current{
  background:  #eee !important;
  border:none !important
}
.dataTable ,.dataTables_filter,.dataTables_info,.dataTables_paginate{
  transform: translateY(-38px);
}
//end table style
li.active{
  background-color: #2574A9;
}
.order-c{
  .dataTable ,.dataTables_filter,.dataTables_info,.dataTables_paginate{
  transform: translateY(30px) !important;
}
}
