<button class="btn btn-dark mt-3" type="submit" (click)="openAddProduct()">Add Product</button>

<div class="tabo">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Description</th>
        <th>UOM</th>
        <th>Tax Code</th>
        <th>Discount Code</th>
        <th>Attributes</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{getCategoryName(item.category)}}</td>
        <td>{{item.description}}</td>
        <td>{{getUOM(item.uom)}}</td>
        <td>{{getTax(item.taxId)}}</td>
        <td>{{getDiscount(item.discountId)}}</td>
        <td>{{item.attributes}}</td>
        <td class="text-right w-icon delete-icon">
          <a class="table-icon " title="Edit" (click)="editProduct(item.id)">
            <i class="far fa-edit"></i>
          </a>
        </td>
        <td class="text-right w-icon delete-icon">
          <a class="table-icon " title="Remove" (click)="deleteProduct(item.id)">
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)" size="default" type="ball-spin-clockwise">
</ngx-spinner>

<!-- Modal -->
<div class="modal fade  show" [ngClass]="{'d-block': showAlert}">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark m-auto" data-dismiss="modal" (click)="closePopup()">OK</button>
      </div>
    </div>
  </div>
</div>
