<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
  <!-- Topbar Search -->
  <a class="logos" routerLinkActive="active">
    <img src="../../../../assets/shopping-cart.png" alt="logo" />
  </a>
  <span class="mr-2 d-none d-lg-inline text-gray-600 ">Online Shopping</span>
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <li *ngIf="model.role==2" class="nav-item dropdown no-arrow card-icon" (click)="navigateToDetails()">

      <div class="box">
        <div class="notification">
          <i class="fas fa-cart-arrow-down ic"></i>
          <span class="num">{{counter}}</span>
        </div>
      </div>

    </li>
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 ">{{model.userName}}</span>
        <img class="img-profile rounded-circle" src="../../../../assets/default-profile.png" style="max-width: 37px;" />
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" (click)="logout()">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
        </a>
      </div>
    </li>
  </ul>
</nav>
