<button class="btn btn-dark mt-3" type="submit" (click)="openAddTax()">Add Tax</button>

<div class="tabo">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Code</th>
        <th>Value</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of taxes" [hidden]="item.id<2">
        <td>{{item.code}}</td>
        <td>{{item.value}}</td>
        <td class="text-right w-icon delete-icon">
          <a class="table-icon " title="Remove" (click)="deleteTax(item.id)">
            <i class="fas fa-trash-alt" *ngIf="item.id>1"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
