.white-popup-block{
  display: table-cell;
    padding: 32px;
}
.list-group-popup{
  margin-top: 42px;
  min-width: 500px;
}
.per{
      font-size: larger;
      margin-left: 3px;
}
.val{
  display: flex;
}
