<h4 class="my-3">Add Tax</h4>

<form [formGroup]="addForm" class="w-100">

  <div class="row">
    <div class="col-lg-1 col-md-2 col-3">
      <span class="lbl">
        Code
      </span>
      <span class="text-danger">*</span>
    </div>
    <div class="col-lg-4 col-md-5 col-9 form-group">
      <input type="text" formControlName="code" tabindex="1" class="form-control" [ngClass]="{
                  'is-invalid':
                    (form.code.touched && form.code.invalid) ||
                    (submittedAdd && form.code.invalid) }" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-2 col-3">
      <span class="lbl">
        Value
      </span>
      <span class="text-danger">*</span>
    </div>
    <div class="col-lg-4 col-md-5 col-9 form-group ">
      <input type="text" formControlName="value" tabindex="2" class="form-control value" [ngClass]="{
                  'is-invalid':
                    (form.value.touched && form.value.invalid) ||
                    (submittedAdd && form.value.invalid) }" /> <span class="per">%</span>
    </div>
  </div>

  <div class="row ">
    <div class="col-sm-12 form-group r">
      <button type="button" class="btn btn-dark" (click)="submit()">Save</button>
    </div>
  </div>

</form>


<!-- Modal -->
<div class="modal fade  show" [ngClass]="{'d-block': showAlert}">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark m-auto" data-dismiss="modal" (click)="closePopup()">OK</button>
      </div>
    </div>
  </div>
</div>
